
.content {
    flex: 3;
    background: #fff;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content section {
    margin-bottom: 20px;
    
}
span{
    font-weight: bold;
}
 h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3.2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
   

    .content {
        margin-left: 0;
        flex-direction: column;
    }
}