.header-container{
    min-height: 75vh;
    background:  url("../../src/assets/girl-reading.jpg") center/cover no-repeat;
    flex-direction: column;
    z-index: 0;
}
.header-title{
    font-size: 3.2rem;
    z-index: 1;
    text-align: center;
}
.header-description{
    margin-bottom: 2.8rem;
    max-width: 770px;
    z-index: 1;
    color: solid black;
    
}
@media (max-width: 768px) {
    .header-container {
        background-image: url('../assets/girl-reaging-phone.png');
    }
   
    .header-container{
        margin-top: -10px;
    }
}